body 
{
    color: #000000;
    background-color:#FFFFFF;
}
h1
{
    
    text-align:center;
    color: #FF2D00;

}
#navbar
{
    background-color: #000000;
    color: #FF2D00
    
}

#img1
{
       width: 10%;
    height: 10%;

}

