body 
{
    color: #000000;
    background-color:#FF0C00;
}
h1
{
    
    text-align:center;
    color: #FFFFFF;
    font-size: 500%;
    font-style:bold;
    text-shadow:2px 2px #ff0000;

}
#HW1
{
    
    color: #FFFFFF;
    font-size:150%;
    font-style:bold;
}

#img1
{
       width: 10%;
    height: 10%;

}

